/* Section1 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;900&family=Righteous&family=Rubik+Glitch&family=Rubik+Marker+Hatch&family=Rubik+Moonrocks&family=Urbanist:wght@400;900&family=Comfortaa&family=Space+Grotesk&family=Rubik+Glitch&display=swap');


/* Fonts */
.raleway {
  font-family: raleway;
}

.raleway-bold {
  font-family: raleway;
  font-weight: 900;
}


.urbanist {
  font-family: urbanist;
}

.urbanist-bold {
  font-family: urbanist;
  font-weight: 900;
}



.righteous {
  font-family: Righteous;
}

.righteous-bold {
  font-family: Righteous;
  font-weight: 900;
}



.comfortaa {
  font-family: Comfortaa;
}

.comfortaa-bold {
  font-family: Comfortaa;
  font-weight: 900;
}




/* Main_Section */

.hero-section {
  height: 100vh;
  background-color: white;
}

.waves {
  position: absolute;
  bottom: 0;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.text-container {
  display: flex;
  float: right;
  flex-direction: column;
  position: sticky;
  gap: 1rem;
  z-index: 3;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: end;
  margin-right: 8vw;

}

.pre-heading {
  font-family: montserrat;
  font-size: 1rem;
  color: #faf1e2;
}

.main-heading {
  font-family: raleway;
  font-weight: 900;
  font-size: 4rem;
  color: #faf1e2;
}

.post-heading {
  font-family: montserrat;
  font-size: 1rem;
  color: #faf1e2;
}

.ai-face {
  width: auto;
  height: auto;
  position: absolute;
  top: 12%;
  bottom: 0%;
  left: 60%;
  z-index: 3;
  display: none;
}











.background {
  position: absolute;
  z-index: 1;
  top: 0%;
  width: 100%;
  height: 100vh;
  /* background: #37323e; */
  background-image: url('https://static.vecteezy.com/system/resources/previews/005/843/342/non_2x/abstract-technology-ai-computing-on-circle-concept-working-data-of-artificial-intelligence-and-futuristic-digital-for-future-on-dark-blue-background-vector.jpg');
  background-attachment: fixed;
  clip-path: polygon(100% 0, 100% 79%, 0 98%, 0 0);
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background span {
  width: 10vmin;
  height: 10vmin;
  z-index: 1;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #4a3a82;
  top: 35%;
  left: 95%;
  animation-duration: 15s;
  animation-delay: -2s;
  transform-origin: 19vw -24vh;
  box-shadow: -40vmin 0 5.907538199785917vmin currentColor;
  z-index: 1;
}

.background span:nth-child(1) {
  color: #E45A84;
  top: 90%;
  left: 2%;
  animation-duration: 32s;
  animation-delay: -31s;
  transform-origin: 16vw -10vh;
  box-shadow: 40vmin 0 5.217330178400525vmin currentColor;
  z-index: 1;
}

.background span:nth-child(2) {
  color: #4a3a82;
  top: 24%;
  left: 100%;
  animation-duration: 15s;
  animation-delay: -29s;
  transform-origin: 24vw -8vh;
  box-shadow: 40vmin 0 5.101573075170773vmin currentColor;
  z-index: 1;
}

.background span:nth-child(3) {
  color: #baadd2;
  top: 6%;
  left: 21%;
  animation-duration: 24s;
  animation-delay: -31s;
  transform-origin: -18vw -3vh;
  box-shadow: -40vmin 0 5.452877193454258vmin currentColor;
  z-index: 1;
}

.background span:nth-child(4) {
  color: #E45A84;
  top: 46%;
  left: 34%;
  animation-duration: 37s;
  animation-delay: -31s;
  transform-origin: -3vw 11vh;
  box-shadow: 40vmin 0 5.670879177902613vmin currentColor;
  z-index: 1;
}

.background span:nth-child(5) {
  color: #4a3a82;
  top: 14%;
  left: 86%;
  animation-duration: 10s;
  animation-delay: -48s;
  transform-origin: 8vw 6vh;
  box-shadow: -40vmin 0 5.176712999637239vmin currentColor;
  z-index: 1;
}

.background span:nth-child(6) {
  color: #4a3a82;
  top: 91%;
  left: 32%;
  animation-duration: 7s;
  animation-delay: -10s;
  transform-origin: 9vw -9vh;
  box-shadow: -40vmin 0 5.483979536425199vmin currentColor;
  z-index: 1;
}


.background span:nth-child(7) {
  color: #baadd2;
  top: 35%;
  left: 73%;
  animation-duration: 25s;
  animation-delay: -5s;
  transform-origin: -14vw -1vh;
  box-shadow: 40vmin 0 5.983801806524685vmin currentColor;
  z-index: 1;
}

.background span:nth-child(8) {
  color: #4a3a82;
  top: 29%;
  left: 97%;
  animation-duration: 25s;
  animation-delay: -23s;
  transform-origin: -16vw 10vh;
  box-shadow: 40vmin 0 5.132108050369474vmin currentColor;
  z-index: 1;
}

.background span:nth-child(9) {
  color: #baadd2;
  top: 79%;
  left: 17%;
  animation-duration: 12s;
  animation-delay: -35s;
  transform-origin: 8vw -18vh;
  box-shadow: 40vmin 0 5.794042640427436vmin currentColor;
  z-index: 1;
}

.background span:nth-child(10) {
  color: #baadd2;
  top: 80%;
  left: 66%;
  animation-duration: 26s;
  animation-delay: -18s;
  transform-origin: 6vw 19vh;
  box-shadow: 40vmin 0 5.1374416828492935vmin currentColor;
  z-index: 1;
}

.background span:nth-child(11) {
  color: #4a3a82;
  top: 39%;
  left: 68%;
  animation-duration: 51s;
  animation-delay: -42s;
  transform-origin: -16vw 0vh;
  box-shadow: 40vmin 0 5.408840206096695vmin currentColor;
  z-index: 1;
}

.background span:nth-child(12) {
  color: #4a3a82;
  top: 29%;
  left: 81%;
  animation-duration: 19s;
  animation-delay: -50s;
  transform-origin: 13vw -21vh;
  box-shadow: 40vmin 0 5.9878680912146125vmin currentColor;
  z-index: 1;
}

.background span:nth-child(13) {
  color: #E45A84;
  top: 46%;
  left: 61%;
  animation-duration: 37s;
  animation-delay: -46s;
  transform-origin: -20vw 24vh;
  box-shadow: 40vmin 0 5.687153847367956vmin currentColor;
  z-index: 1;
}

.background span:nth-child(14) {
  color: #E45A84;
  top: 61%;
  left: 45%;
  animation-duration: 27s;
  animation-delay: -43s;
  transform-origin: -7vw 7vh;
  box-shadow: -40vmin 0 5.893426433091726vmin currentColor;
  z-index: 1;
}

.background span:nth-child(15) {
  color: #4a3a82;
  top: 27%;
  left: 16%;
  animation-duration: 54s;
  animation-delay: -11s;
  transform-origin: -18vw -17vh;
  box-shadow: 40vmin 0 5.096247210597743vmin currentColor;
  z-index: 1;
}

.background span:nth-child(16) {
  color: #baadd2;
  top: 65%;
  left: 92%;
  animation-duration: 13s;
  animation-delay: -47s;
  transform-origin: 0vw -3vh;
  box-shadow: -40vmin 0 5.489025287291079vmin currentColor;
  z-index: 1;
}

.background span:nth-child(17) {
  color: #E45A84;
  top: 28%;
  left: 7%;
  animation-duration: 54s;
  animation-delay: -41s;
  transform-origin: -5vw 15vh;
  box-shadow: 40vmin 0 5.8670130316301385vmin currentColor;
  z-index: 1;
}

.background span:nth-child(18) {
  color: #4a3a82;
  top: 86%;
  left: 61%;
  animation-duration: 53s;
  animation-delay: -22s;
  transform-origin: 11vw -2vh;
  z-index: 1;
  box-shadow: 40vmin 0 5.6631550115183735vmin currentColor;
}

.background span:nth-child(19) {
  color: #4a3a82;
  top: 37%;
  left: 57%;
  animation-duration: 39s;
  animation-delay: -20s;
  transform-origin: -9vw -4vh;
  box-shadow: 40vmin 0 5.651433886596595vmin currentColor;
  z-index: 1;
}







/* Section2 */

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {

  0%,
  10% {
    width: 0;
  }

  45%,
  55% {
    width: 15.2em;
  }

  /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 30vw;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green;
  /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}




/* Section3 */
.button {
  background: #000;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #fbca1f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  color: whitesmoke;
  cursor: pointer;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}





/* Section4 */




.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column>label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row>div>label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}


.card {
  width: 20vw;
  height: 264px;
  background: rgb(183, 226, 25);
  font-family: inherit;
  position: relative;
  border-radius: 8px;
}

.quote {
  color: rgb(223, 248, 134);
  padding-left: 30px;
  position: relative;
}

.card-name {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(127, 155, 29);
  padding: 35px;
  line-height: 23px;
}

.body-text {
  font-size: 20px;
  font-weight: 900;
  padding: 60px 40px 0;
  color: #465512;
  position: absolute;
  top: 40px;
  left: 1px;
  line-height: 23px;
}

.author {
  margin-top: 5px;
  opacity: 0;
  transition: 0.5s;
}

.card:hover .author {
  opacity: 1;
}

.pic {
  width: 50px;
  height: 50px;
  background-color: rgb(158, 196, 21);
  border-radius: 50%;
}

.author-container {
  display: flex;
  align-items: center;
}

.author {
  font-weight: 700;
  color: rgb(127, 155, 29);
  padding-left: 30px;
}

.card .author svg {
  display: inline;
  font-size: 12px;
  color: rgba(128, 155, 29, 0.452);
}



/* Section8 */

.section8 {
  background-image: url('/Images/poly-grid.png');

  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  gap: 3rem;
}

.section9 {
  background-image: url('/Images/poly-grid2.png');
  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  gap: 3rem;
}

.section10 {
  background-image: url('/Images/poly-grid4.png');
  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  gap: 3rem;
}




/* Map */
.map{
  width: 100%;
  height: 100%;
  filter: grayscale(10%) invert(92%) contrast(99%);
}












.btnss{
  width: 15rem;
  height: 7vh;
  font-size: 1.2rem;
  
}





@media only screen and (max-width: 1000px) {

  .hero-section{
    height: 70vh;
  }
  .background{
    height: 70vh;
  }
  .text-container{
    height: 70vh;
    justify-content: center;
    align-items: start;
    margin-right: 0%;
    margin-left: 3rem;
    float: none;
  }
  .btnss{
    font-size: 0.87rem;
    height: 5vh;
    width: 20vw;
  }
  .pre-heading {
    font-family: montserrat;
    font-size: 2vw;
    color: #faf1e2;
  }
  
  .main-heading {
    font-family: raleway;
    font-weight: 900;
    font-size: 6vw;
    color: #faf1e2;
  }
  
  .post-heading {
    font-family: montserrat;
    font-size: 2vw;
    color: #faf1e2;
  }
  .qoute{
    display: none;
  }
  .terminal-loader{
    display: none;
  }
}