@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #891313;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  scroll-behavior: smooth;
}


:root {
  --background-color: white;
  --text-color: black;
  --element-background-color: #ffffff;
  --element-text-color: rgb(0, 0, 0);
}

/* [data-theme='dark'] {
  --background-color: #1b1515;
  --text-color: white;
  --element-background-color: #1d1a1a;
  --element-text-color: rgb(255, 255, 255);
  --element-light-text-color: rgb(199, 176, 176);
} much darker */
[data-theme='dark'] {
  --background-color: #1a1625;
  --text-color: white;
  --element-background-color: #2f2b3a;
  --element-text-color: rgb(255, 255, 255);
  --element-light-text-color: rgb(199, 176, 176);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Apply theme variables to all elements */

.hero-section{
  background-color: var(--background-color);
  color: var(--element-text-color);
  transition: background-color 0.3s, color 0.3s;
}
.section2{
  background-color: var(--background-color);
  color: var(--element-text-color);
  transition: background-color 0.3s, color 0.3s;
}
.card-s3{
  background-color: var(--element-background-color);
  color: var(--element-text-color);
  transition: background-color 0.3s, color 0.3s;
}
.testii{
  background-color: var(--element-background-color);
  color: var(--element-text-color);
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode-fonts{
  color: var(--element-text-color);
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode-fonts-light{
  color: var(--element-light-text-color);
  transition: background-color 0.3s, color 0.3s;
}





